body {
    background-color: rgb(245, 245, 245) !important;
}

p {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.container {
    max-width: 640px !important;
}

.hello-form {
    margin-bottom: 20px;
}

header {
    margin: 50px 0 40px 0;
}

header h1 {
    font-size: 60px;
    font-weight: bold;
}

.sub-title {
    font-size: 24px;
}

@media screen and (max-width: 600px) {
    .sub-title {
        display: block;
    }
}

header a {
    text-decoration: none !important;
}

footer {
    margin: 20px;
}
